
.pagehead {
  width: 100%;
  height: 80px;
}

.header {
  height: 80px;
  width: 100%;
  background-color: #fff7f2;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.footer{
  background-color: #2d2d2d;
}

.row {
  width: 100%;
  height: auto;
  background-color: blueviolet;
  margin-top: -30px;
  min-height: 675px;
  height: auto;
}

.home {
  background-color: #2d2d2d;
  height: 2460px;
  /* padding: 5%;
  width: 60%;
  margin-left: 15%;
  margin-right: 15%; */
  
}

#logo {
  height: 50px;
  padding-right: 20px;
}

#name {
  font-size: 26px;
  line-height: 1;
  color: #3d3d3dff;
}

#mahiti {
  color: #e35200;
}

ul {
  list-style-type: none;
}

.one ul {
  display: flex;
}

.one li {
  margin-top: 5px;
}

.two {
  display: flex;
  align-items: center;
}

.two ul {
  display: flex;
}

.two ul a {
  color: inherit;
}

.twoset {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  margin-right: 50px;
}
.toshow {
  display: flex;
  width: 273px;
}

#signupsignup {
  color: #e35200;
  cursor: pointer;
}

#signupsignup:hover {
  color: #3d3d3dff;
}

#loginlogin {
  background-image: linear-gradient(
    to right top,
    #e37100,
    #e36a00,
    #e36201,
    #e35a02,
    #e35205
  );
  color: #fbf6f3;
  cursor: pointer;
}

.headlink {
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 40px;
  padding-right: 40px;
}

.browselink {
  margin-right: 50px;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.browselink:hover {
  color: #e35200;
}

#search {
  border: 1px solid #e36a00;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 400px;
  height: 50px;
  background-color: #ffffff;
  color: #9dbfaf;
  padding: 5px;
  font-size: large;

  /* padding-left: 10px; */
}

#search:focus {
  color: #e36a00;
}

.search_button {
  height: 50px;
  width: 50px;
  border: 18px solid #e36a00;
  border-radius: 0 5px 5px 0;
  text-align: center;
  color: #fff;
  background: #e36a00;
  cursor: pointer;
}

.sear {
  font-size: 18px;
  margin: -10px;
}

/* newsletter */
.newsletterbox {
  width: 100%;
  height: 630px;
  background-color: #dfe0df;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: "Poppins", sans-serif;
}

.newssub {
  height: 230px;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #e37100,
    #e36a00,
    #e36201,
    #e35a02,
    #e35205
  );
  text-align: center;
  color: white;
  padding-top: 50px;
  border-radius: 20px;
}

.newsletterform {
  margin: 20px;
}

.nlfinput {
  height: 30px;
  width: 240px;
  font-family: "Poppins", sans-serif;
  padding: 8px;
  color: gray;
  margin: 10px;

  font-size: 18px;
}

#nlfsubmit {
  height: 50px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  padding: 8px;
  color: rgb(255, 255, 255);
  background-color: #2d2d2d;
  border-radius: 3%;
  border-style: none;
  margin: 10px;
  font-size: 18px;
}

#nlfsubmit:hover {
  cursor: pointer;
}

/* info section */

.bottomtext {
  height: 400px;
  width: 100%;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 50px;
  padding-top: 120px;
  padding-left: 160px;
}

.btbox {
  width: 20%;
  margin: 0px 50px;
  /* background-color: darkgreen; */
  box-sizing: border-box;
  color: #2d2d2d;
}

#logo2nd {
  height: 50px;

  display: flex;
}

.btboxheading {
  font-weight: bold;
  color: #e35200;
  margin-bottom: 50px;
}

.btboxitems {
  margin-bottom: 25px;
}

#profileprofile {
  text-decoration: none;
  color: #e35200;
  cursor: pointer;
}

.slg {
  width: 67%;
  margin-left: 140px;
  font-family: "Times New Roman";
}

.welc {
  height: 250px;
  margin-top: 150px;
  padding: 0% 15%;
  font-family: "Poppins", sans-serif;
}

.welcbox {
  background-color: rgb(224, 224, 224);
  box-sizing: border-box;
  padding: 40px;
  border-radius: 15px;
}

.welchead {
  font-size: 50px;
  text-align: left;
}

.welctxt {
  padding-top: 20px;
  font-size: 20px;
}

.labels {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 150px;
}
.labelheading {
  font-size: 50px;
}

.labelsubheading {
  font-size: 18px;
  margin-bottom: 60px;
}

#king {
  margin-top: 30px;
  padding-top: 90px;
  font-size: 70px;
  margin-bottom: 20px;
}

#ful {
  margin-top: 50px;
  font-size: 20px;
  width: 85%;
  letter-spacing: 1px;
  line-height: 1.6;
}

#pagebanner {
  background-image: url(../src/assets/brand/coverbook.png);
  width: 100%;
  height: 760px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: cover;
}

.introbody {
  margin-top: -280px;
}

.displaybox {
  height: 390px;
  width: 100%;
  /* padding: 0% 15%; */
  float: left;
  font-family: "Poppins", sans-serif;
  /* background-color: aquamarine; */
  margin-bottom: 135px;
}
hpbooks {
  height: 90%;
  width: 80%;
  margin: auto;
  /* background-color: darkgreen; */
  box-sizing: border-box;
  margin-bottom: 50px;
}

.seemore {
  color: #e35200;
  float: right;
  margin-right: 10%;
  text-decoration: none;
  margin-top: 50px;
}

.hpbooks ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.hpbooks ul li {
  list-style: none;
  margin: 0% 3%;
}

.hpimage {
  height: 350px;
  width: 250px;
  /* background-color: darkseagreen; */
}

.bimage {
  height: 350px;
  width: 250px;
}

.bimage:hover {
  width: 260px;
  height: 360px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.42);
}

.barrier {
  cursor: pointer;
}

.bname {
  height: 10%;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  /* background-color:olivedrab; */
  color: #e35200;
  text-decoration: none;
}
