
.pagehead {
  width: 100%;
  height: 80px;
  background-color: #2d2d2d;
  
}

.header {
  height: 80px;
  width: 100%;
  background-color: #fff7f2;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  z-index: 999;
}

.footer{
  background-color: #2d2d2d;
}

.row {
  width: 100%;
  height: auto;
  background-color: #2d2d2d;

  min-height: 867px;
  height: auto;
}

.home {
  background-color: #2d2d2d;
  height: 2460px;
  margin-top: -30px;
  /* padding: 5%;
  width: 60%;
  margin-left: 15%;
  margin-right: 15%; */
  
}

#logo {
  height: 50px;
  padding-right: 20px;
}

#name {
  font-size: 26px;
  line-height: 1;
  color: #3d3d3dff;
}

#mahiti {
  color: #e35200;
}

ul {
  list-style-type: none;
}

.one ul {
  display: flex;
}

.one li {
  margin-top: 5px;
}

.two {
  display: flex;
  align-items: center;
}

.two ul {
  display: flex;
}

.two ul a {
  color: inherit;
}

.twoset {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  margin-right: 50px;
}
.toshow {
  display: flex;
  width: 273px;
}

#signupsignup {
  color: #e35200;
  cursor: pointer;
}

#signupsignup:hover {
  color: #3d3d3dff;
}

#loginlogin {
  background-image: linear-gradient(
    to right top,
    #e37100,
    #e36a00,
    #e36201,
    #e35a02,
    #e35205
  );
  color: #fbf6f3;
  cursor: pointer;
}

.headlink {
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 40px;
  padding-right: 40px;
}

.browselink {
  margin-right: 50px;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.browselink:hover {
  color: #e35200;
}

.search {
  border: 1px solid #e36a00 !important;
  border-right: none !important;
  border-radius: 5px 0 0 5px !important;
  outline: none !important;
  width: 400px !important;
  height: 50px !important;
  background-color: #ffffff !important;
  color: #9dbfaf !important;
  padding: 5px !important;
  font-size: large !important;

  /* padding-left: 10px; */
}

#search:focus {
  color: #e36a00;
}

.search_button {
  height: 50px;
  width: 50px;
  border: 18px solid #e36a00;
  border-radius: 0 5px 5px 0;
  text-align: center;
  color: #fff;
  background: #e36a00;
  cursor: pointer;
}

.sear {
  font-size: 18px;
  margin: -10px;
}

/* newsletter */
.newsletterbox {
  width: 100%;
  height: 630px;
  background-color: #dfe0df;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: "Poppins", sans-serif;
}

.newssub {
  height: 230px;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #e37100,
    #e36a00,
    #e36201,
    #e35a02,
    #e35205
  );
  text-align: center;
  color: white;
  padding-top: 50px;
  border-radius: 20px;
}

.newsletterform {
  margin: 20px;
}

.nlfinput {
  height: 30px;
  width: 240px;
  font-family: "Poppins", sans-serif;
  padding: 8px;
  color: gray;
  margin: 10px;

  font-size: 18px;
}

#nlfsubmit {
  height: 50px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  padding: 8px;
  color: rgb(255, 255, 255);
  background-color: #2d2d2d;
  border-radius: 3%;
  border-style: none;
  margin: 10px;
  font-size: 18px;
}

#nlfsubmit:hover {
  cursor: pointer;
}

/* info section */

.bottomtext {
  height: 400px;
  width: 100%;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 50px;
  padding-top: 120px;
  padding-left: 160px;
}

.btbox {
  width: 20%;
  margin: 0px 50px;
  /* background-color: darkgreen; */
  box-sizing: border-box;
  color: #2d2d2d;
}

#logo2nd {
  height: 50px;

  display: flex;
}

.btboxheading {
  font-weight: bold;
  color: #e35200;
  margin-bottom: 50px;
}

.btboxitems {
  margin-bottom: 25px;
}

#profileprofile {
  text-decoration: none;
  color: #e35200;
  cursor: pointer;
}

.slg {
  width: 67%;
  margin-left: 140px;
  font-family: "Times New Roman";
}

.welc {
  height: 250px;
  margin-top: 150px;
  padding: 0% 15%;
  font-family: "Poppins", sans-serif;
}

.welcbox {
  background-color: rgb(224, 224, 224);
  box-sizing: border-box;
  padding: 40px;
  border-radius: 15px;
}

.welchead {
  font-size: 50px;
  text-align: left;
}

.welctxt {
  padding-top: 20px;
  font-size: 20px;
}

.labels {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 150px;
}
.labelheading {
  font-size: 50px;
}

.labelsubheading {
  font-size: 18px;
  margin-bottom: 60px;
}

#king {
  margin-top: 30px;
  padding-top: 90px;
  font-size: 70px;
  margin-bottom: 20px;
}

#ful {
  margin-top: 50px;
  font-size: 20px;
  width: 85%;
  letter-spacing: 1px;
  line-height: 1.6;
}

#pagebanner {
  background-image: url(../src/assets/brand/coverbook.png);
  width: 100%;
  height: 760px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: cover;
}

.introbody {
  margin-top: -280px;
}

.displaybox {
  height: 390px;
  width: 100%;
  /* padding: 0% 15%; */
  float: left;
  font-family: "Poppins", sans-serif;
  /* background-color: aquamarine; */
  margin-bottom: 135px;
}
hpbooks {
  height: 90%;
  width: 80%;
  margin: auto;
  /* background-color: darkgreen; */
  box-sizing: border-box;
  margin-bottom: 50px;
}

.seemore {
  color: #e35200;
  float: right;
  margin-right: 10%;
  text-decoration: none;
  margin-top: 50px;
}

.hpbooks ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.hpbooks ul li {
  list-style: none;
  margin: 0% 3%;
}

.hpimage {
  height: 350px;
  width: 250px;
  /* background-color: darkseagreen; */
}

.bimage {
  height: 350px;
  width: 250px;
}

.bimage:hover {
  width: 260px;
  height: 360px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.42);
  cursor: pointer;
}

.barrier {
  cursor: pointer;
}

.bname {
  height: 10%;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
  /* background-color:olivedrab; */
  color: #e35200;
  text-decoration: none;
}


.card {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: #e3e3e3;
  transform: translate(205%, 40%);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  z-index: 5;
}

.signup {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.inputBox1 {
  position: relative;
  width: 250px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}

.inputBox {
  position: relative;
  width: 250px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}

.inputBox1 input,
.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  box-sizing: border-box;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox1 span,
.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox1 input:valid ~ span,
.inputBox1 input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  transform: translateX(156px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox1 input:valid,
.inputBox1 input:focus,
.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
  font-family: 'Poppins', sans-serif;
}

.enter:hover {
  background-color: #e36a00;
  color: white;
}

#signupoverlay,
#loginoverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#registercard,
#logincard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: #e3e3e3;
  transform: translate(205%, 40%);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  z-index: 5;
}

#shadowlayerr,
#shadowlayerl {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  cursor: pointer;
  margin-top: -50px;
}

.pagebox{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5% 0%;
  background-color: rgb(46, 78, 68);
}

.book-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
  width: 100%;
}

.book-info-form {
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  font-size: 18px;
  border-radius: 15px;
  color: #dfe0df;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
  width: 100%;
}

.notifcard {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: #e3e3e3;
  transform: translate(205%, 100%);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  z-index: 5;
}

#notification {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#shadowlayern {
  margin-top: -50px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  cursor: pointer;
}

.book-image-reservation {
width: 30%;
box-sizing: border-box;
border-radius: 15px;
}

.book-image-container {
box-sizing: border-box;
border-radius: 15px;
padding: 15px;
margin-bottom: 30px;
background-color: #ece4de;
}

.book-image {
width: 100%;
height: auto;
}

.reservation-button {
margin-top: 10px;
padding: 10px 20px;
background-color: #e36a00;
color: white;
border: none;
border-radius: 15px;
cursor: pointer;
font-size: 16px;
font-family: 'Poppins', sans-serif;
text-decoration: none;
}

.reservation-button:hover {
background-color: #e35200;
}

.book-details {
width: 60%;
height: auto;
padding: 15px;
margin-left: 50px;
box-sizing: border-box;
color: #1f1f1f;
border-radius: 15px;
background: rgb(240, 240, 240);
background: linear-gradient(140deg, rgba(240, 240, 240, 1) 66%, rgba(255, 232, 211, 1) 100%);
}

.book-details > div {
margin: 10px 0;
}

.book-details h2 {
font-size: 20px;
margin: 0;
font-weight: 500;
}

.book-details p {
font-size: 18px;
margin: 0;
word-spacing: 8px;
}

