/* stars */
.rating-stars {
	width: 32vmin;
	padding: 3vmin;
	border-radius: 5vmin;
}

.rating-counter:before {
	content: "0";
	transition: all 0.25s ease 0s;	
}

.inputstar { 
	display: none; 
}

.labelstar {
	width: 5vmin;
	height: 5vmin;
	background: #000b;
	display: inline-flex;
	cursor: pointer;
	margin: 0.5vmin 0.65vmin;
	transition: all 1s ease 0s;	
	clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
}

.labelstar[for=rs0] {
	display: none;
}

.labelstar:before {
	width: 90%;
	height: 90%;
	content: "";
	background: orange;
	z-index: -1;
	display: block;
	margin-left: 5%;
	margin-top: 5%;
	clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
	background: linear-gradient(90deg, yellow, orange 30% 50%, #c2c2c2 50%, 70%, #adadad 100%);
	background-size: 205% 100%;
	background-position: 0 0;
}

.labelstar:hover:before {
	transition: all 0.25s ease 0s;		
}

.inputstar:checked + .labelstar ~ .labelstar:before {
	background-position: 100% 0;
	transition: all 0.25s ease 0s;	
}

.inputstar:checked + .labelstar ~ .labelstar:hover:before {
	background-position: 0% 0
}

#rs1:checked ~ .rating-counter:before {
	content: "1";
}

#rs2:checked ~ .rating-counter:before {
	content: "2";
}

#rs3:checked ~ .rating-counter:before {
	content: "3";
}

#rs4:checked ~ .rating-counter:before {
	content: "4";
}

#rs5:checked ~ .rating-counter:before {
	content: "5";
}

.labelstar + .inputstar:checked ~ .rating-counter:before {
	color: #ffab00 !important;
	transition: all 0.25s ease 0s;
}

.labelstar:hover ~ .rating-counter:before {
	color: #9aacc6 !important;
	transition: all 0.5s ease 0s;	
	animation: pulse 1s ease 0s infinite;
}

@keyframes pulse {
	  50% { font-size: 6.25vmin; }
}

.labelstar[for=rs1]:hover ~ .rating-counter:before {
	content: "1" !important;
}

.labelstar[for=rs2]:hover ~ .rating-counter:before {
	content: "2" !important;
}

.labelstar[for=rs3]:hover ~ .rating-counter:before {
	content: "3" !important;
}

.labelstar[for=rs4]:hover ~ .rating-counter:before {
	content: "4" !important;
}

.labelstar[for=rs5]:hover ~ .rating-counter:before {
	content: "5" !important;
}

.inputstar:checked:hover ~ .rating-counter:before {
	animation: none !important;
	color: #ffab00 !important ;
}
